@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

html, body {
    height: 100%;
  }
  
  .is-full-height {
    min-height: 100vh;
 }
 .is-full-width {
   min-width: 100%;
 }
 .hidden {
    display: none;
 }
 #app {
    min-height: 100vh;
 }